.header {
	border-bottom: 1px solid #ECECEC;
	max-width: 100%;
}

.container.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 0 24px 0;
}

.header-navigation {
	display: flex;
	align-items: center;
}

.header-list {
	display: flex;
	gap: 50px;
}

.header-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--main-bg-color);
	text-decoration: none;
	margin-right: 93px;
}
.header-contact {
	display: flex;
	align-items: center;
	gap: 50px;
}
span {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #000000;
	text-decoration: none;
}
.header-item-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
	text-decoration: none;

	transition: var(--main-transition);
}

.header-item-link:hover,
.header-item-link:focus {
	color: var(--main-bg-color);
}

.header-mail,
.header-tel {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-color);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	transition: var(--main-transition);
}

.contact-icon {
	fill: var(--main-color);
    transition: var(--fill-transition);
}
.header-item-link.current {
	color: var(--main-bg-color);
	position: relative;
}

.header-item-link.current::after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    left: 0;
	bottom: -33px;
    background-color: var(--main-bg-color);
}

.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
	color: var(--main-bg-color);
}
.header-tel:hover .contact-icon,
.header-tel:focus .contact-icon,
.header-mail:hover .contact-icon,
.header-mail:focus .contact-icon{
	fill: var(--main-bg-color);
}